$blue: #0090d7;
$nav-height: 50px;

.main-header {
  background: $blue;
  color: white;
  height: $nav-height;
  .nav-link {
    color: white;
  }
  input[type="search"].form-control-navbar {
    background: transparent;
    &::placeholder {
      color: white;
    }
  }
}

.brand-text {
  transition: margin-left .3s linear,opacity .3s ease,visibility .3s ease;
}

.btn-navbar {
  color: white;
}
 

.brand-link {
  background: #00b7ff;
  display: block;
  max-height: $nav-height;
  padding: 0 6px;
  &__icon {
    display: none;
  }
  &__logo {
    max-width: 100%;
  }
}

.sidebar-collapse {
  .brand-text { display: none; }
  .brand-link__logo { display: none; }
  .brand-link__icon { display: block; }
}

